<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
     <input class="input-group shadow-sm" #input1 type="number">
      <select #countForm class="form-select">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    <input class="input-group" #input2 type="number">
    <button (click)="calculatorCount(input1.value, input2.value, countForm.value)">Count</button>
      <p>ToTal: {{message}}</p>
  </div>
  <div class="col-lg-2"></div>
</div>
