
<div class="lol">
<div class="row">
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="row ">
        <div class="card col-lg-12 border-0 mt-1 big_card bg-white mb-3" >
          <div class="img"><img src="../assets/card1.jpg" class="card-img-top img_card" alt="loading"></div>
          <div class="card-body sub_card bg-white">
            <h5 class="card-title" style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG HỒ</h5>
            <p class="card-text">Diện Tích Phòng
              40.1 m2
              Sức Chứa
              2 Khách
              Loại Giường
              Giường Đôi/ Giường Đơn
              Phòng Tắm
              Riêng Biệt</p>
            <div style="height: 40px"><a href="https://furamavietnam.com/vi/rooms/lagoon-superior/"
                                         class="btn btn-success text-light detail_card" >
              XEM CHI TET</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col-lg-12 border-0 container-fluid">
          <div class="img" > <img src="../assets/card2.jpg" class="card-img-top img_card" alt="loading">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold" >PHÒNG DELUXE HƯỚNG VƯỜN</h5>
            <p class="card-text">Diện Tích Phòng
              43.7 m2
              Sức Chứa
              2 Guests
              Loại Giường
              Double/Twin
              Phòng Tắm
              Separate</p>
            <div style="height: 40px">  <a href="https://furamavietnam.com/vi/rooms/garden-deluxe/" class="btn btn-success text-light detail_card">XEM
              CHI
              TIET</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col-lg-12 border-0">
          <div class="img"> <img src="../assets/card3.jpg" class="card-img-top img_card" alt="loading"></div>
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">BIỆT THỰ HƯỚNG BIỂN CÓ HỒ BƠI RIÊNG</h5>
            <p class="card-text">Diện Tích Phòng
              900 m2
              Sức Chứa
              4 Phòng Ngủ
              Loại Giường
              Giường Đôi/ Giường Đơn
              Phòng Tắm
              Riêng Biệt</p>
            <div style="height: 40px">   <a href="https://furamavietnam.com/vi/rooms/beach-front-villas/"
                                            class="btn btn-success text-light detail_card">XEM CHI
              TIET</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 container ">
      <div class="row">
        <div class="col-lg-12" style="margin-top: 2px">
          <img src="../assets/bodypic.jpg" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12" style="margin-top: 2px" id="video">
              <video autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true" class="ratio-16x9 w-100" style="margin-top: 13px">
                <source src="../assets/Scuba%20Diving%20-%20699.mp4">
              </video>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 ">
                            <span>  <img src="../assets/duoivideos.jpg"
                                         style="height: 140px;width: 100%;margin-top: 5px"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="margin-top: 10px">
          <h5 style="font-weight: bold; text-align: left">
            KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI FURAMA ĐÀ NẴNG, TỰ HÀO LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM
          </h5>
          <p style="font-family: Arial Sans-serif; text-align: left">
            Ẩm thực tại khu nghỉ dưỡng là trải nghiệm kết hợp giữa các món ăn Việt Nam, châu Á, Ý và châu Âu
            cùng các món bít
            tết nhập khẩu hảo hạng. Khu nghỉ dưỡng mang đến cho quý khách những không gian ẩm thực đa dạng
            bao gồm ,
            quầy bar nhìn ra biển, hồ bơi Lagoon được bao quanh bởi khu vườn nhiệt đới, ẩm thực truyền thống
            Ý
            tại nhà hàng Don Cipriani’s, chất Á Đông tại Café Indochine hay nhà hàng bít tết “The Fan –
            Cái Quạt” nằm ngay trên bãi biển. Khu nghỉ dưỡng Furama Đà Nẵng còn gây ấn tượng và tạo nhiều
            thích thú cho khách thông qua các chương trình vui chơi đầy thú vị như các chuyến du ngoạn,
            thể thao trên nước, lặn biển và chơi golf cũng như các dịch vụ chăm sóc sức khoẻ và sắc đẹp.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div  class="col-lg-12 mt-3" style="box-shadow: 0 0 3px #C0C0C0; padding: 20px">
      <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Arial Display;font-weight:700;font-style:normal" >TRẢI NGHIỆM ẨM THỰC &amp; GIẢI TRÍ</h2>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-lg-12" style="margin-top: 50px;margin-left: 12px">

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                  class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 d-block w-100" style="padding: 10px; box-shadow: 0 0 3px #C0C0C0" >
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="../assets/slide1.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="margin-top: 80px">
                    <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Arial Display;font-weight:700;font-style:normal" >HỘI NGHỊ VÀ SỰ KIỆN</h2>
                    <p class="card-text" style="text-align: left; font-family: Arial Sans-serif">Cung hội nghị Quốc tế International Convention Palace (ICP) với
                      phòng Hội nghị lớn sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50 đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện.

                      Không gian ngoài trời trên bãi biển hay bên hồ Lagoon giữa khu rừng nhiệt đới rậm rạp, ngập khí trời,
                      nước và ánh sáng có thể bay cùng mọi ý tưởng sáng tạo những bữa tiệc theo chủ đề độc đáo hay hoạt động
                      team-building truyền cảm hứng hay gắn kết cộng đồng.</p>
                    <div style="height: 40px"><a href="https://furamavietnam.com/meeting-and-events/"
                                                 class="btn btn-success text-light detail_card" >
                      XEM CHI TET</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none ">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 d-block w-100" style="padding: 10px; box-shadow: 0 0 3px #C0C0C0" >
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="../assets/slide2.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="margin-top: 80px">
                    <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Arial Display;font-weight:700;font-style:normal" >KHU NGHỈ DƯỠNG FURAMA ĐÀ NẴNG </h2>
                    <p class="card-text" style="font-family: Arial Sans-serif; text-align: left">Hướng ra bãi biển Đà Nẵng trải dài cát trắng,
                      Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang
                      cùng với 70 căn biệt thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh dự được đón tiếp nhiều người nổi tiếng, giới hoàng gia,
                      chính khách, ngôi sao điện ảnh và các nhà lãnh đạo kinh doanh quốc tế.</p>
                    <div style="height: 40px"><a href="https://furamavietnam.com/vi/culinary/"
                                                 class="btn btn-success text-light detail_card" >
                      XEM CHI TET</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none ">
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 d-block w-100" style="padding: 10px; box-shadow: 0 0 3px #C0C0C0">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="../assets/slide4.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body" style="margin-top: 80px">
                    <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Arial Display;font-weight:700;font-style:normal" >ẨM THỰC</h2>
                    <p class="card-text" style="text-align: left; font-family: Arial Sans-serif">
                      Trải nghiệm ẩm thực tại Khu nghỉ có sự pha trộn độc đáo các món ăn truyền thống Việt Nam với nhiều những hương vị ẩm thực châu Á,
                      Ý và châu Âu cùng các món bò nhập khẩu thượng hạng tại đa dạng các nhà hàng, quầy bar đẳng cấp được bao quanh bởi một khu
                      vườn nhiệt đới hay hướng mình ra biển, đón những hơi thở mát mẻ thổi về từ biển đông.

                      Nhà hàng chính Café Indochine nổi tiếng với tiệc Buffet Chợ Hải Sản hay những bữa trưa cơm mâm đồng đậm chất Việt,
                      Don Cipriani’s tinh túy ẩm thực Ý là những lựa chọn không thể bỏ qua khi ghé thăm Furama Resort Đà Nẵng.




                    </p>
                    <div style="height: 40px"><a href="https://furamavietnam.com/vi/culinary/"
                                                 class="btn btn-success text-light detail_card" >
                      XEM CHI TET</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none ">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

</div>
