<div class="row">
   <div class="col-2"></div>
   <div class="col-8">
      <table class="table table-bordered">
        <thead>
         <tr>
           <th>STT</th>
           <th>Ten</th>
           <th>Gioi Tinh</th>
           <th>Loai Khach</th>
           <th>CMND</th>
           <th>Sua</th>
           <th>Xoa</th>
         </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Long</td>
          <td>nam</td>
          <td>bac</td>
          <td>123131</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
   </div>
   <div class="col-2"></div>
</div>


